body{
    background-image: url(photo/img.jfif );
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box{
    position: absolute;
    width: 250px;
    top: 50px;
    left: 50px;
    color: white;
    border: 1px solid rgb(73, 145, 6);
    padding: 50px 20px 50px 20px;
    align-items: center;
}
.login-box h1{
    font-size: 40px;
    border-bottom: 6px solid #9BA7C1;
    padding-bottom: 30px;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #9BA7C1;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.account a{
    color: black;
}


.btn{
    width: 100%;
    background: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*register walla */
.register-box{
    position: absolute;
    width: 250px;
    top: 50px;
    left: 50px;
    color: white;
    border: 1px solid rgb(73, 145, 6);
    padding: 50px 20px 50px 20px;
    align-items: center;
}
.register-box h1{
    font-size: 40px;
    border-bottom: 6px solid #9BA7C1;
    padding-bottom: 30px;
}
.register-textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #9BA7C1;
}
.register-textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}




.UserRegister-box{
    position: absolute;
    width: 350px;
    top: 50px;
    left: 50px;
    color: white;
    border: 1px solid rgb(73, 145, 6);
    padding: 50px 20px 50px 20px;
    align-items: center;
}